[defaults]
inventory = ./inventory.yml
roles_path = ./roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
stdout_callback = default
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True